html,
body {
	height: 100%;
	background: #eff2f6;
}

main {
	margin-bottom: 1.5em;
}

.dragover { background: #f2ffff; }

h1 {
	font-size: 7.5em;
	text-align: center;
	font-weight: 700;
	color: #5B7FA4;
}

.glyphicon-remove-circle {
	font-size: 2em;
}

a.text-danger:hover,
a.text-danger:focus {
	color: #EB6E60;
}

.table {
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.table > tbody > tr > td,
.table > thead > tr > th {
	vertical-align: middle;
	padding: 1em;
}

.drop-message {
	font-style: italic;
	font-size: 1.5em;
	padding: 1em;
}

.drop-border {
	display: inline-block;
	border: 5px dashed #5B7FA4;
	padding: 0.5em 2em;
	border-radius: 5px;
}

.panel-info a {
	color: #fff;
}