<table class="files table table-striped">
	<thead>
		<th>File</th>
		<th>Choose a task</th>
		<th>Output Name</th>
		<th class="text-center">Remove</th>
	</thead>
	<tbody>
	</tbody>
</table>

<p class="text-center">
	<button class="btn btn-lg btn-success js-process">Toast 'Em</button>
</p>
