<div class="panel panel-info">
	<div class="panel-heading">
		<a class="pull-right js-preview" href="#{{cid}}">Preview</a>
		<h4 class="panel-title">
			{{outputName}}
		</h4>
	</div>
	<div id="{{cid}}" class="panel-collapse collapse">
	<div class="panel-body">
		<pre>{{text}}</pre>
	</div>
</div>